
# Force terminal colors
#export FORCE_COLOR=true

# Send prompt sign to new line below this # of columns
#PROMPT_COLUMN_LIMIT=120
#PROMPT_HOSTNAME=my-machine

#PROMPT_GIT_REMOTE_COUNTERS=1
#PROMPT_GIT_STATE_COUNTERS=0
#PROMPT_GIT_STATE_MODE=summary
#PROMPT_GIT_DISABLE_IN_TMUX=0

# Base prompt colors
#promptUserColor="\[\e[38;2;0;190;135m\]" # 00BE87
#promptRootColor="\[\e[38;5;160m\]"       # x160_Red3

# Alternative prompt colors
#promptUserColor="\[\e[38;5;038m\]" # x038_DeepSkyBlue2 (light blue)
#promptUserColor="\[\e[38;5;032m\]" # x032_DeepSkyBlue3 (blue)
#promptUserColor="\[\e[38;5;134m\]" # x134_MediumOrchid (purple)
#promptUserColor="\[\e[38;5;212m\]" # x212_Orchid2      (pink)
#promptUserColor="\[\e[38;5;160m\]" # x160_Red3         (red)
#promptUserColor="\[\e[38;5;215m\]" # x215_SandyBrown   (orange)
#promptUserColor="\[\e[38;5;220m\]" # x220_Gold1        (yellow)
#promptUserColor="\[\e[38;5;047m\]" # x047_SpringGreen2 (bright green)
#promptUserColor="\[\e[38;5;040m\]" # x040_Green3       (green)

#promptCheckTunnels=false

# hr separator
#HR_DEFAULT='#'
#HR_DEFAULT=('─' '■' '─')
