
# Umask
# /etc/profile sets 022, removing write perms to group + others.
#umask 002

# ssh-pageant (Cygwin)
#eval $(/usr/bin/ssh-pageant -r -a "/tmp/.ssh-pageant-$USERNAME")

# ssh-pageant (MinGW / Git Bash)
#SSH_PAGEANT="$(command -v ssh-pageant)"
#if [ -x "$SSH_PAGEANT" ]; then
#    eval $("$SSH_PAGEANT" -qra "${SSH_AUTH_SOCK:-${TEMP:-/tmp}/.ssh-pageant-win-$USERNAME}")
#fi
#unset SSH_PAGEANT

# keychain - use XDG Base Directory
#alias keychain="keychain --absolute --dir '${XDG_RUNTIME_DIR}/keychain'"
# keychain - start or reuse agent
#eval $(keychain --quiet --eval --agents ssh id_rsa)
# keychain - reuse agent
#alias sshagentstart='eval $(keychain --quiet --clear --eval --agents ssh id_rsa)'
#eval $(keychain --quiet --eval --agents ssh)


# Lazygit on Windows - MinGW
#alias lazygit='winpty lazygit.exe'


## Autocomplete server names for SSH in Git Bash
#_ssh()
#{
#    local cur prev opts
#    COMPREPLY=()
#    cur="${COMP_WORDS[COMP_CWORD]}"
#    prev="${COMP_WORDS[COMP_CWORD-1]}"
#    opts=$(grep '^Host' ~/.ssh/config ~/.ssh/config.d/* 2>/dev/null | grep -v '[?*]' | cut -d ' ' -f 2-)
#
#    COMPREPLY=( $(compgen -W "$opts" -- ${cur}) )
#    return 0
#}
#complete -F _ssh ssh
