
# Force terminal colors
#export FORCE_COLOR=true

# Send prompt sign to new line below this # of columns
#PROMPT_COLUMN_LIMIT=120
#PROMPT_HOSTNAME=my-machine

# A fix for Windows users, to ensure the application path works.
#export COMPOSE_CONVERT_WINDOWS_PATHS=1

#####################
# Dockerize-CLIs

#DOCKERIZE_PHP=true
#DOCKERIZE_COMPOSER=true
#DOCKERIZE_PHPUNIT=true
#DOCKERIZE_PHPSTAN=true
#DOCKERIZE_NODE=true
#DOCKERIZE_NPM=true
#DOCKERIZE_YARN=true
#DOCKERIZE_SHELLCHECK=true
#DOCKERIZE_ANSIBLE=true

#PHP_VERSION=8.1
#PHP_PUBLISH_PORTS=""
#PHP_PUBLISH_PORTS="${PHP_PUBLISH_PORTS} --publish 8000:8000"
#PHP_USER=$(id -u):$(id -g)
#PHP_USER=www-data

#COMPOSER_HOME=$HOME/.composer

#NODE_VERSION=19
#NODE_PUBLISH_PORTS=""
#NODE_PUBLISH_PORTS="$NODE_PUBLISH_PORTS --publish 3000:3000"
#NODE_USER=$(id -u):$(id -g)
#NODE_USER=node
#NODE_USER_HOME=/home/node

# SHELLCHECK_VERSION=stable

# ANSIBLE_VERSION=latest

# # non-existant user workaround (Linux/Unices)
# DOCKER_COMMON_VOLUMES="--volume /etc/passwd:/etc/passwd:ro --volume /etc/group:/etc/group:ro"

# Git-mr
#export JIRA_USER="user.name@mycompany.com"
#export JIRA_INSTANCE="mycompany.atlassian.net"
#export JIRA_TOKEN="abcdefghijklmnopqrstuvwx"
#export JIRA_CODE_PATTERN="XY-[0-9]+"

#export GITLAB_DOMAIN="myapp.gitlab.com"
#export GITLAB_TOKEN="Zyxwvutsrqponmlkjihg"

#export GITLAB_DEFAULT_LABELS="Review,My Team"      # Default labels for new merge requests

# Always use extended commit messages
#export GIT_MR_EXTENDED=1

# Required upvote count to turn indicator green in `mr status` (defaults to 2)
#export GIT_MR_REQUIRED_UPVOTES=2

# Gitlab status labels (comma-separated, without spaces in between)
#export GITLAB_IP_LABELS="WIP"      # Label(s) set on "In Progress" step
#export GITLAB_CR_LABELS="Review"   # Label(s) set on "Code Review" step
#export GITLAB_QA_LABELS="Testing"  # Label(s) set on "Quality Assurance" step
#export GITLAB_OK_LABELS="Accepted" # Label(s) set on "Accepted" step

# Jira status - transition IDs
#export JIRA_IP_ID="xx" # Jira "In progress" transition ID
#export JIRA_CR_ID="xx" # Jira "Code review" transition ID
#export JIRA_QA_ID="xx" # Jira "Quality Assurance" transition ID
#export JIRA_OK_ID="xx" # Jira "Accepted" transition ID

#export GITLAB_REMOVE_SOURCE_BRANCH_ON_MERGE=1 # Check "Delete source branch" by default
#export GIT_MR_TIMEOUT=5
