
[core]

	# checkout as-is ; commit as-is
	autocrlf = false

	eol = lf
	ignorecase = false
	whitespace = -trailing-space # Don't consider trailing space change as a cause for merge conflicts

	fscache = true
	editor = vim
	excludesfile = ~/.dotfiles/.gitignore.global

################################################################################

[fetch]
	prune = true # Before fetching, remove any remote-tracking references that no longer exist on the remote.
	recurseSubmodules = true # Recursively fetch submodules

[merge]
	ff = false # Always create a merge commit (never fast-forward)

[pull]
	#rebase = true # Pull with rebase instead of merge
	rebase = merges # also apply --rebase-merges (2.18+)

[push]
	#default = current # Push the current branch to update a branch with the same name on the receiving end
	default = upstream # Push the current branch back to the upstream (tracking) remote branch
	autoSetupRemote = true

[rebase]
	autosquash = true # Automatically squash commits made with --fixup
	autostash = true # Automatically stash and re-apply
	updateRefs = true # Automatically update branches that point to commits that are being rebased

[rerere]
	enabled = true # Activate recording of resolved conflicts, so that identical conflict hunks can be resolved automatically
	#autoupdate = true

[status]
	#submoduleSummary = true # Shows a summary of commits for modified submodules
	submoduleSummary = 3
	#showUntrackedFiles = all # Show individual files in untracked directories

[tag]
	sort = v:refname # Sort tags as version numbers (ex: 1.2.0 before 1.10.2)

################################################################################

[diff]
	# Use better, descriptive initials : (i)ndex, (w)ork tree, (c)ommit, (o)bject instead of a/b.
	mnemonicPrefix = true
	# Lists the commits in the range like git-submodule[1] summary does
	submodule = log
	# Shows an inline diff of the changed contents of the submodule
	#submodule = diff
	# Show minimal diff when using --word-diff
	wordRegex = .

[log]
	# Use short SHAs when possible
	abbrevCommit = true
	# Continue listing the history of a file beyond renames
	follow = true
	# Exclude remote heads in log decorations
	excludeDecoration = refs/remotes/*/HEAD

[pretty]
	mingraph = %C(auto)%h%d %s

# 	graph = %C(auto)%h%d %<|(80)%s %C(green)%<(12)(%ar) %C(bold blue)<%aN>
	graph = %C(auto)%h%d %<|(80)%s %C(bold blue) ✏ %<(12,trunc)%aN %Creset%C(green)⏱  %<(12,trunc)%ar

# 	graph-t = %C(auto)%h%d %<|(80,mtrunc)%s %C(green)(%ar) %C(bold blue)<%aN>
	graph-t = %C(auto)%h%d %<|(80,mtrunc)%s %C(bold blue) ✏ %<(12,trunc)%aN %Creset%C(green)⏱  %<(12,trunc)%ar

	graph-dyn = %C(auto)%h%d %<|(90)%s %C(green)(%<(13,trunc)%ar) %C(bold blue)<%aN>
	graph-dyn-t = %C(auto)%h%d %<|(90,mtrunc)%s %C(green)(%<(13,trunc)%ar) %C(bold blue)<%aN>
	graph-dyn-lg = %C(auto)%h%d %<|(70)%s %C(green)(%<(13,trunc)%ar) %C(bold blue)<%aN>

################################################################################

[alias]

	# list available aliases
	aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'

	st = "status"

	# log
	graph = "log --color --graph --abbrev-commit --decorate --pretty=graph" # standard graph log
	cg    = "context-graph --pretty=graph-dyn"                              # "context-graph" (branch, default & remote)

	# stash
	ss = "stash push -u"
	sp = "stash pop --index"

	# commit
	uncommit = "!f() { echo -n 'Uncommitting: '; git rev-parse --short HEAD; echo; git log -1 --pretty=%B; git reset --soft HEAD~1; }; f"
	prev-commit = "!f() { git reflog | sed -n 2p | cut -d' ' -f1; }; f"
	recommit = "!f() { echo -n 'Resetting to previous commit: '; git prev-commit; git reset --soft $(git prev-commit); }; f"
	amend = "!f() { git commit -C $(git prev-commit); }; f"
	fixup = "!f() { git commit --fixup ${1:-HEAD}; }; f"

	# rebase
	ri = "rebase -i"
	rir = "rebase -i -r"
	rib = "!f() { git rebase -i $(git mr base) $@; }; f"
	rc = "rebase --continue"
	ra = "rebase --abort"

	# Fast-forward main branch
	ff = "!f() { \
	    remote=$(git remote | grep -q origin && echo 'origin' || git remote | head -n 1);     \
	    main=$(git symbolic-ref refs/remotes/${remote}/HEAD --short) ||                       \
	        { echo \"You might want to run 'git remote set-head ${remote} -a'\"; return 1; }; \
	    main=${main#${remote}/};                                    \
	    main_sha=$(git rev-parse refs/heads/${main});               \
	    remote_sha=$(git rev-parse refs/remotes/${remote}/${main}); \
	    [ \"$main_sha\" = \"$remote_sha\" ]                           && \
	        echo \"'${main}' is up to date with '${remote}/${main}'\" && \
	        return 0;                                                    \
	    [ \"$main_sha\" != \"$(git merge-base ${main_sha} ${remote_sha})\" ] && \
	        echo \"'${main}' and '${remote}/${main}' have diverged\"         && \
	        return 0;                                                           \
	    [ \"$(git branch --show-current 2>/dev/null)\" = \"$main\" ] && \
	        git merge --ff-only refs/remotes/${remote}/${main}       && \
	        return 0;                                                   \
	    echo \"Fast-forwarding '${main}'\";                               \
	    git update-ref refs/heads/${main} refs/remotes/${remote}/${main}; \
	}; f"

    # Update
	update = "!f() { git fetch --all --prune; git ff; git sup; git status --short --branch; }; f"

	sup = "submodule update --init --recursive"

	# push
	fpush = "push --force-with-lease"
	fp = "push --force-with-lease"
	fpu = "!f() { git push --force-with-lease && git mr update; }; f"
	pushall = "!f() { for remote in `git remote`; do git push $remote "$@"; done }; f"
	fpushall = "!f() { for remote in `git remote`; do git push --force-with-lease $remote "$@"; done }; f"

	gca = "gc --aggressive"

	# branches
	branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes

	contains = "branch -a --contains"

	# merged / non-merged branches
	mb  = "!f() { git branch -a --merged    ${1:-master} | grep -v '>\\|*' | perl -pe s/^..//; }; f"
	nmb = "!f() { git branch -a --no-merged ${1:-master} | grep -v '>\\|*' | perl -pe s/^..//; }; f"

	# stale merged/non-merged branches
	stmb  = "!f() { for k in `git mb $1`;  do git ld $k; done | sort -r; }; f"
	stnmb = "!f() { for k in `git nmb $1`; do git ld $k; done | sort -r; }; f"

	# transfer all refs from one remote to another
	transfer-remote = "!f() { [ ! -z \"$1\" ] && [ ! -z \"$2\" ] && git push $2 +refs/remotes/$1/*:refs/heads/* +refs/tags/*:refs/tags/* ; }; f"

	# remote non-origin branches
	rnob = "!git branch -a | grep remotes/ | grep -v remotes/origin | sed -e 's/remotes\\///'"

	# remove remote non-origin branches
	rrnob = "!git branch -r -d $(git rnob)"

	# https://tomschlick.com/git-forget/
	# Lists local branches whose corresponding remote branch has been deleted
	gone = ! git branch -vv | sed 's/^* /  /' | awk '/: gone]/{print $1}'
	# Deletes local branches whose corresponding remote branch has been deleted
	forget = ! git fetch -p && [ ! -z \"`git gone`\" ] && (git gone | xargs git branch -D) || echo 'No branch to forget'

	# Run git command in repo and submodules recursively
	recurse = "!f() { git \"$@\"; git submodule foreach --recursive git \"$@\"; }; f"

	# external commands
	k  = "!gitk --all"
	mu = "!python ~/.dotfiles/mu-repo/mu"

[include]
	path = ~/.dotfiles/.gitconfig.local

[gui]
	encoding = utf-8
	tabsize = 4
