
[user]
	email = user@example.net
	name = User

[core]
	# Ignore file permissions (useful on Windows)
	#filemode = false

	## Alternative editors on Windows :
	# editor = 'C:/Program Files/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin
	# editor = 'C:/Program Files/Sublime text 2/sublime_text.exe' -n -w

#[credential]
#	helper = cache --timeout 7201


# https://difftastic.wilfred.me.uk/
[diff]
#	external = difft
#	tool = difftastic
#[difftool "difftastic"]
#	cmd = difft "$LOCAL" "$REMOTE"
#[pager]
#	difftool = true


# https://dandavison.github.io/delta/configuration.html
#[core]
#	pager = delta
#[interactive]
#	diffFilter = delta --color-only --features=interactive
#[delta]
#	features = common cli
#[delta "interactive"]
#	keep-plus-minus-markers = false
#[delta "common"]
#	commit-decoration-style = blue ol
#	file-style = omit
#	hunk-header-decoration-style = dimgray box ul
#	hunk-header-file-style = silver
#	hunk-header-line-number-style = skyblue
#	hunk-header-style = file line-number syntax
#[delta "cli"]
#	true-color = always
#	pager = less --mouse --wheel-lines=3
#	side-by-side = true
#[delta "lazygit"]
#	paging = never
#	true-color = never


#[url "git@github.com:"]
#	insteadOf = "github:"
#[url "git@github.com:"]
#	pushInsteadOf = "https://github.com/"

[pretty]
	# Dynamic graph width
	graph-dyn = %C(auto)%h%d %<|(80)%s %C(green)(%<(13,trunc)%ar) %C(bold blue)<%aN>
	graph-dyn-t = %C(auto)%h%d %<|(80,mtrunc)%s %C(green)(%<(13,trunc)%ar) %C(bold blue)<%aN>
	graph-dyn-lg = %C(auto)%h%d %<|(80)%s %C(green)(%<(13,trunc)%ar) %C(bold blue)<%aN>
