
[core]

	# checkout as-is ; commit as-is
	autocrlf = false

	eol = lf
	ignorecase = false
	whitespace = -trailing-space

	fscache = true
	editor = vim
	excludesfile = ~/.gitignore.global

[include]
	path = ~/.gitconfig.local

################################################################################

[fetch]
	prune = true

[merge]
	ff = false

[pull]
	#rebase = true
	rebase = merges # 2.18+

[push]
	default = current

[rebase]
	autosquash = true

[rerere]
	enabled = true
	#autoupdate = true

[status]
	submoduleSummary = true

[tag]
	sort = v:refname # sort tags as version numbers (ex: 1.2.0 before 1.10.2)

################################################################################

[diff]
	mnemonicPrefix = true
	submodule = log
	wordRegex = .

[log]
	abbrevCommit = true

[pretty]
	graph = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset

################################################################################

[alias]

	# list available aliases
	aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'

	st = "status"

	ss = "stash push -u"
	sp = "stash pop --index"

	ri = "rebase -i"
	rc = "rebase --continue"

	lg = "log --color --graph --pretty=graph --abbrev-commit --"
	lga = "log --color --graph --pretty=graph --abbrev-commit --all --"
	lgr = "!f() { git log --oneline --reverse --no-decorate -n ${1:-25}; }; f"
	ld = "!f() { echo -e `git show --pretty=format:'%Cgreen%ci %Cblue%cr%Creset' $1 | head -n 1`\\\\t$1; }; f"

	fpush = "push --force-with-lease"
	pushall = "!f() { for remote in `git remote`; do git push $remote "$@"; done }; f"
	fpushall = "!f() { for remote in `git remote`; do git push --force-with-lease $remote "$@"; done }; f"

	gca = "gc --aggressive"

	# branches
	branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes

	# merged / non-merged branches
	mb  = "!f() { git branch -a --merged    ${1:-master} | grep -v '>\\|*' | perl -pe s/^..//; }; f"
	nmb = "!f() { git branch -a --no-merged ${1:-master} | grep -v '>\\|*' | perl -pe s/^..//; }; f"

	# stale merged/non-merged branches
	stmb  = "!f() { for k in `git mb $1`;  do git ld $k; done | sort -r; }; f"
	stnmb = "!f() { for k in `git nmb $1`; do git ld $k; done | sort -r; }; f"

	# transfer all refs from one remote to another
	transfer-remote = "!f() { [ ! -z \"$1\" ] && [ ! -z \"$2\" ] && git push $2 +refs/remotes/$1/*:refs/heads/* +refs/tags/*:refs/tags/* ; }; f"

	# remote non-origin branches
	rnob = "!git branch -a | grep remotes/ | grep -v remotes/origin | sed -e 's/remotes\\///'"

	# remove remote non-origin branches
	rrnob = "!git branch -r -d $(git rnob)"

	# https://tomschlick.com/2017/03/20/git-forget
	forgettable="! git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs echo 'forget candidate: '"
	forget="! git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D"

	# external commands
	k                = "!gitk --all"
	mu               = "!python ~/.dotfiles/mu-repo/mu"
	deliver          = "!bash ~/.dotfiles/git-deliver/deliver.sh"
	build            = "!bash ~/.dotfiles/git-build/git-build.sh"
	compare-branches = "!bash ~/.dotfiles/git-compare-branches/git-compare-branches.sh"
	mr               = "!bash ~/.dotfiles/git-mr/git-mr"

[gui]
	encoding = utf-8
	tabsize = 4
