[submodule "dotbot"]
	path = dotbot
	url = https://github.com/Djuuu/dotbot
[submodule "git-deliver"]
	path = git-deliver
	url = git@github.com:Djuuu/git-deliver.git
[submodule "git-build"]
	path = git-build
	url = git@github.com:Djuuu/git-build.git
[submodule "git-compare-branches"]
	path = git-compare-branches
	url = git@github.com:Djuuu/git-compare-branches.git
[submodule "dockerize-clis"]
	path = dockerize-clis
	url = git@github.com:Djuuu/dockerize-clis.git
