# local LazyGit config file

## Config relating to the Lazygit UI
#gui:
#
#  ## Custom Author Color
#  #authorColors:
#  #  'John Smith':   'red'
#  #  'Alan Smithee': '#00ff00'
#  #  'Djuuu':        '#00FFBE'
#
#  ## Custom Branch Color
#  #branchColorPatterns:
#  #  '^docs/': '#11aaff' # use a light blue for branches beginning with 'docs/'
#  #  'ISSUE-\d+': '#ff5733' # use a bright orange for branches containing 'ISSUE-<some-number>'

## Config relating to git
#git:
#  # See https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Pagers.md
#  paging:
#    useConfig: false
#    pager: "delta --features='common lazygit'"


## Custom pull request URLs
#services:
#  #'<gitDomain>': '<provider>:<webDomain>'
#  #'gitlab.com':  'gitlab:gitlab.com'
#  #'github.com':  'github:github.com'


# Config relating to things outside of Lazygit like how files are opened, copying to clipboard, etc
#os:
#  # CopyToClipboardCmd is the command for copying to clipboard.
#  # See https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md#custom-command-for-copying-to-and-pasting-from-clipboard
#  copyToClipboardCmd: printf "\033]52;c;$(printf {{text}} | base64)\a" > /dev/tty
#
#  # Command for opening a file, as if the file is double-clicked. Should
#  # contain "{{filename}}", but doesn't support "{{line}}".
#  #open: "powershell.exe start explorer.exe {{filename}} >/dev/null"
#  #open: "/mnt/c/Windows/System32/WindowsPowerShell/v1.0/powershell.exe start explorer.exe {{filename}} >/dev/null"
#  #open: "/mnt/c/Windows/explorer.exe {{filename}} || true"
#  #open: "xdg-open {{filename}} >/dev/null"
#  open: cmd.exe /c start phpstorm://open?file=//wsl$/Ubuntu/$(echo {{filename}})
#
#  # Command for opening a link. Should contain "{{link}}".
#  #openLink: "/mnt/c/Windows/System32/WindowsPowerShell/v1.0/powershell.exe start {{link}} >/dev/null"
#  #openLink: "/mnt/c/Windows/explorer.exe {{link}} || true"
#  #openLink: "xdg-open {{link}} >/dev/null"
#  openLink:  cmd.exe /c start {{link}}

########################################################################################################################
# https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Command_Keybindings.md
# https://github.com/jesseduffield/lazygit/blob/master/docs/keybindings/Custom_Keybindings.md

#customCommands:
#  - key: '<c-d>'
#    context: 'files'
#    command: 'git diff {{.SelectedFile.Name | quote}}'
#    output: terminal # none | terminal | log | logWithPty | popup
#
#  - key: '<c-a>'
#    context: 'localBranches'
#    command: "git {{.Form.action}} {{ .SelectedLocalBranch.Name }}"
#    description: "git [f]pushall"
#    loadingText: "Pushing to all remotes..."
#    output: popup
#    prompts:
#        - type: 'menu'
#          title: 'Push to all remotes'
#          key: 'action'
#          options:
#              - { value: 'pushall', name: 'push', description: 'Push {{ .SelectedLocalBranch.Name }} to all remotes' }
#              - { value: 'fpushall', name: 'force', description: 'Force-push {{ .SelectedLocalBranch.Name }} to all remotes' }
#
#  - key: '<c-g>'
#    description: "git-mr"
#    commandMenu:
#        - key: s
#          context: 'localBranches'
#          command: "git mr status {{.SelectedLocalBranch.Name}}"
#          output: popup
#
#        - key: m
#          context: 'localBranches'
#          command: "git mr menu status $(git mr code {{.SelectedLocalBranch.Name}})"
#          output: popup
#
#        - key: n
#          context: 'localBranches'
#          command: "git mr menu status --no-links $(git mr code {{.SelectedLocalBranch.Name}})"
#          output: terminal
#
#        - key: o
#          context: 'localBranches'
#          command: "git mr open {{.SelectedLocalBranch.Name}}"
#          output: none
#          loadingText: 'Opening merge request'
#
#        - key: u
#          context: 'localBranches'
#          command: "git mr update {{.SelectedLocalBranch.Name}}"
#          output: terminal
